name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: '1.14'
              otp: '24.3'
          - pair:
              elixir: '1.17'
              otp: '27.0'
            lint: lint
          - pair:
              elixir: '1.18'
              otp: '28.0'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-

      - name: Run mix deps.get
        run: mix deps.get

      - name: Run mix format
        run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - name: Run mix deps.unlock
        run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - name: Run mix deps.compile
        run: mix deps.compile

      - name: Run mix compile
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Run credo
        run: mix credo --strict
        if: ${{ matrix.lint }}

      - name: Run mix test
        run: mix test

      - name: Run dialyzer
        run: mix dialyzer
        if: ${{ matrix.lint }}
