name: Hex Release

on:
  release:
    types: [published]

jobs:
  hex_release:
    runs-on: ubuntu-latest
    environment:
      name: 'Hex'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name}}

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 27.0
          elixir-version: 1.17

      - name: Run mix deps.get
        run: mix deps.get --only docs

      - name: Run mix deps.compile
        run: mix deps.compile

      - name: Run mix compile
        run: mix compile
        env:
          MIX_ENV: docs

      - name: Run mix hex.publish
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
          MIX_ENV: docs
